<link rel="stylesheet" href="../styles/upload.css">
<h1>UPLOAD NEW TRACK</h1>
<p>Please enter Track Details in this lowercase format: <strong>artist_trackname</strong></p>
<form action="/" method="post" enctype="multipart/form-data">
<input type="file" id="track" name="track"/>
<h4>Track Details: </h4><input type="text" id="title" name="title"/>
<button id="Button1">Upload & Play</button>
</form>